<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814938032768-p808ep3lsbahao49glvkkue7celc97kg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814938032768-p808ep3lsbahao49glvkkue7celc97kg</string>
	<key>API_KEY</key>
	<string>AIzaSyACt8l3BOlScc1SnI3Eo-dV-rvRH8XmDKo</string>
	<key>GCM_SENDER_ID</key>
	<string>814938032768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weshare</string>
	<key>PROJECT_ID</key>
	<string>weshare-5df01</string>
	<key>STORAGE_BUCKET</key>
	<string>weshare-5df01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814938032768:ios:3a4ca7e33d290cf0787465</string>
	<key>DATABASE_URL</key>
	<string>https://weshare-5df01.firebaseio.com</string>
</dict>
</plist>